body {
		font-size: 80%;
		font-family: "Courier New", Courier, monospace;
		letter-spacing: 0.15em;	
		background-color: #efefef;}
		#page {
		max-width: 940px;
		min-width: 720px;
		height: 1000px;
		margin: 10px auto 10px auto;
		padding: 20px;
		border: 4px double #000;
		background-color: #ffffff;}
		#logo {
		width: 150px;
		margin: 0px auto 25px auto;
		position: relative;
		bottom: 80px;}
		ul {
		width: 570px;
		padding: 15px;
		margin: -150px auto 0px auto;
		border-top: 2px solid #000;
		border-bottom: 1px solid #000;
		text-align: center;
		position: relative;
		z-index: 1;}
		li {
		display: inline;
		margin: 0px 3px;}
		#apartments {
		position: relative;
		right: 190px;}
		p {
		text-align: center;
		width: 600px; 
		margin: 20px auto 20px auto; 
		font-weight: normal;}
		a {
		color: #000000;
		text-transform: uppercase;
		text-decoration: none;
		padding: 6px 18px 5px 18px;}
		a:hover, a.on {
		color: #cc3333;
		background-color: #ffffff;}
        #form1 {
            border-color: black;
            margin-left: 100px;
            justify-content: center;
        }
        input{
            width:50%;
            margin-bottom: 10px;
            padding: 5px;
        }